<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" [routerLink]="['/home']">Home</a>
        <!-- Resposive nav bar button for open and close -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!--  Navigation bar started -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/product']">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/sale']">Sales Logs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/month-sale']">Month wise Sales</a>
                </li>
            </ul>
        </div>
        <!--  Navigation bar End -->
    </div>
</nav>