<div style="margin: 40px;">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#saleModal">Add Sale</button>
    <table class="table" style="margin-top: 20px; float: right;">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Product Name</th>
                <th scope="col">Product Price</th>
                <th scope="col">Sale Quantity</th>
                <th scope="col">Total Price</th>
                <th scope="col">Sale Date</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            <tr *ngIf="sales.length == 0">
                <td colspan="6" style="text-align: center;">Data not found.</td>
            </tr>
            <tr *ngFor="let sale of sales, index as j">
                <th scope="row">{{j+1}}</th>
                <td>{{sale.product.name}}</td>
                <td>{{sale.product.price}}</td>
                <td>{{sale.quantity}}</td>
                <td>{{sale.total_price}}</td>
                <td>{{sale.sale_date| date: 'dd-MM-yyyy'}}</td>
            </tr>
        </tbody>
    </table>
    <div class="modal fade" id="saleModal" tabindex="-1" aria-labelledby="saleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Add Sale Log</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="saleForm" (ngSubmit)="submit()" class="forms-sample">
                        <div class="form-group row mb-3">
                            <label class="col-sm-3 col-form-label">Product Name
                                <span style="color: red;">*</span></label>
                            <div class="col-sm-9">
                                <select class="form-select" aria-label=".form-select-lg example" formControlName="productName"
                                    (change)="productChange($event)" >
                                    <option [value]="" ng-selected="">Select Product</option>
                                    <option *ngFor="let product of products" value={{product.name}}>
                                        {{product.name}}
                                </select>
                                <div *ngIf="isSubmitted && f['productName'].errors" class="invalid-feedback">
                                    <div *ngIf="f['productName'].errors?.['required']">Product name is required</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row mb-3">
                            <label class="col-sm-3 col-form-label">Price
                                <span style="color: red;">*</span></label>
                            <div class="col-sm-9">
                                <input type="number" class="form-control" formControlName="productPrice"
                                    [ngClass]="{ 'is-invalid': isSubmitted && f['productPrice'].errors }" readonly/>
                                <div *ngIf="isSubmitted && f['productPrice'].errors" class="invalid-feedback">
                                    <div *ngIf="f['productPrice'].errors?.['required']">Product price is required
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row mb-3">
                            <label class="col-sm-3 col-form-label">Quantity
                                <span style="color: red;">*</span></label>
                            <div class="col-sm-9">
                                <input type="number" class="form-control" formControlName="saleQty"
                                    [ngClass]="{ 'is-invalid': isSubmitted && f['saleQty'].errors }" />
                                <div *ngIf="isSubmitted && f['saleQty'].errors" class="invalid-feedback">
                                    <div *ngIf="f['saleQty'].errors?.['required']">Product quantity is required
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row mb-3">
                            <label class="col-sm-3 col-form-label">Date
                                <span style="color: red;">*</span></label>
                            <div class="col-sm-9">
                                <input type="date" class="form-control" formControlName="saleDate"
                                    [ngClass]="{ 'is-invalid': isSubmitted && f['saleDate'].errors }" />
                                <div *ngIf="isSubmitted && f['saleDate'].errors" class="invalid-feedback">
                                    <div *ngIf="f['saleDate'].errors?.['required']">Sale date is required
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <button #closeModal type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>